{% include "projects/navigation.html" %}

<h1>{{ project.title }}</h1>

<p>Owner: <a href="{% url 'projects:user_show' project.owner.id  %}">{{ project.owner }}</a></p>
<p>Created: {{ project.created }}</p>
<p>Description:  {{ project.description }}</p>

{% if request.user != project.owner %}
<form action="{% url 'projects:interested' project.id %}" method="post">
{% csrf_token %}
{% if request.user in project.interested.all %}
	You are interested in this project! <input type="submit" value="Remove">
{% else %}
	<input type="submit" value="I'm Interested!">
{% endif %}
</form>
{% endif %}

<h2>Interested Users</h2>
{% for user in project.interested.all %}
	<p><a href="{% url 'projects:user_show' user.id %}">{{ user.username }}</a></p>
{% endfor %}

