{% include "projects/navigation.html" %}

<h1>{{ user.username }}</h1>

<p>Name: {{ user.profile.name }}</p>
<p>E-mail:  {{ user.profile.email }}</p>
<p>Location: {{ user.profile.get_location_display }}</p>
<p>About Me:  {{user.profile.about }}</p>

{% if request.user = user %}
<form action="{% url 'projects:user_update' user.id %}" method="get">
{% csrf_token %}
<input type="submit" value="Edit">
</form>
{% endif %}

<h2>Skills</h2>

{% for subject in user.profile.skills.all %}
	<p><span style="background-color: {{ subject.color_code }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;{{ subject.description }}</p>
{% endfor %}

<h2>Projects</h2>

{% for project in user.projects.all %}
	<p><a href="{% url 'projects:project_show' project.id %}">{{ project.title }}</a></p>
{% endfor %}

{% if user == request.user %}
<form action="{% url 'projects:project_create' %}">
<input type="submit" value="New Project">
</form>
{% endif %}

<h2>Interested In</h2>
{% for project in user.interested_in.all %}
	<p><a href="{% url 'projects:project_show' project.id %}">{{ project.title }}</a></p>
{% endfor %}

