{% include "projects/navigation.html" %}

<h1>{{ user.username }}</h1>

<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>
<p>E-mail:  {{ user.email }}</p>
<p>Age:  {{ user.profile.age }}</p>
<p>Location: {{ user.profile.get_location_display }}</p>
<p>About Me:  {{user.profile.about }}</p>

<h2>Projects</h2>
{% for project in user.projects.all %}
	<p><a href="{% url 'projects:project_show' project.id %}">{{ project.owner }} - {{ project.title }}</a></p>
{% endfor %}

<h2>Interested In</h2>
{% for project in user.interested_in.all %}
	<p><a href="{% url 'projects:project_show' project.id %}">{{ project.owner }} - {{ project.title }}</a></p>
{% endfor %}

